<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/common/layout :: layout(~{::title},~{::body/content()})}">
<head>
<meta charset="utf-8">
<title>過去契約一覧 | LMS</title>
</head>

<body>

	<h2>勤怠情報確認<small>（受講生一覧）</small></h2>
		<div class="well bs-component">
            <form name="attendance_listActionForm" method="post" th:action="@{/attendance/list}"
              class="form-horizontal">
              <div><input type="hidden" name="org.apache.struts.taglib.html.TOKEN" value="q"></div>
              <fieldset>
                <legend>検索</legend>
                <div class="form-group"> <label for="userName" class="col-lg-2 control-label">コース名</label>
                  <div class="col-lg-10"> <input type="text" name="courseName" list="courseName" th:value="${attendanceCheckForm.attendanceListForm.courseName}"
                      class="form-control">
					<datalist id="courseName">
						<option th:each="courseDto :${attendanceCheckForm.courseDtoList}" th:value="*{courseDto.courseName}">
					</datalist></div>
                </div>
                 <div class="form-group"> <label for="userName" class="col-lg-2 control-label">会場名</label>
                  <div class="col-lg-10"> <input type="text" th:name="|attendanceCheckForm.mPlace.placeName|" 
                  th:value="${attendanceCheckForm.mPlace.placeName}" class="form-control" disabled="false"></input></div>
                </div>
                <div class="form-group"> <label for="userName" class="col-lg-2 control-label">企業名</label>
                  <div class="col-lg-10"> <input type="text" name="companyName" list="companyName" th:value="${attendanceCheckForm.attendanceListForm.companyName}"
                      class="form-control">
					<datalist id="companyName">
						<option th:each="company :${attendanceCheckForm.companyDto}" th:value="*{company.companyName}">
					</datalist></div>
                </div>
                <div class="form-group"> <label for="userName" class="col-lg-2 control-label">ユーザー名</label>
                  <div class="col-lg-10"> <input type="text" name="userName" th:value="${attendanceCheckForm.attendanceListForm.userName}"
                      class="form-control"> </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2"> <input type="submit" name="search" value="検索"
                      class="btn btn-primary"> </div>
                </div>
              </fieldset>
            </form>
          </div>
	<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-hover sortabletable dataTable no-footer"
					id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
					<thead>
						<tr role="row">
							<th class="sorting_asc" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-sort="ascending" aria-label="ユーザーID: activate to sort column descending">ユーザーID</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="ユーザー名: activate to sort column ascending">ユーザー名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="コース名: activate to sort column ascending">コース名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="企業名: activate to sort column ascending">企業名</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="会場: activate to sort column ascending">会場</th>
							<th class="sorting" tabindex="0" aria-controls="user-table" rowspan="1" colspan="1"
								aria-label="編集: activate to sort column ascending">編集</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="userDetailDto : ${lmsUserDtoList}" role="row" th:object="${userDetailDto}">
    						<td th:text="*{lmsUserId}"></td>
 							<td th:text="*{userName}"></td>
						    <td th:text="*{courseName}"></td>
    						<td th:text="*{companyName}"></td>
    						<td th:text="*{placeName}"></td>
    						<td>
       							<form th:action="@{/attendance/detail}" method="GET">
            						<input type="hidden" name="lmsUserId" th:value="*{lmsUserId}">
            						<input type="hidden" name="courseId" th:value="*{courseId}">
            						<input type="hidden" name="userName" th:value="*{userName}">
            						<input type="hidden" name="courseName" th:value="*{courseName}">
            						<input type="hidden" name="companyName" th:value="*{companyName}">
           							<input type="submit" value="確認" class="btn btn-default" />
        						</form>
    						</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>